/* Container layout for the chemical drawing */
.obsidian-smiles-container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: var(--background-secondary); /* */
  border-radius: var(--radius-m);
  border: 1px solid var(--background-modifier-border);
  overflow: hidden;
  /* background-color: #ff0; /* */
  /* height: attr(height px, auto); /* */
  margin: 0;
  padding: 0;
}

/* Ensure the SVG scales responsively inside the code block area */
.obsidian-smiles-container svg {
  width: 100%;
  /*height: auto;*/
  display: block;
  /* background-color: #123456; /* */
  flex-shrink: 0;
  max-height: 100%;
}

/* Error message formatting for broken SMILES syntax */
.smiles-error-msg {
  color: var(--text-error);
  font-family: var(--font-monospace);
  font-size: var(--font-small);
  padding: 0.5rem;
  border-left: 3px solid var(--text-error);
  background-color: var(--background-message-error);
  width: 100%;
}
